.container{
   width: 700px;
   height:600px;
   margin: 0px auto;
}

.close-icon{
   float: right;
}

.poster{
   width:300px;
   height: 497px;
   margin: 10px 30px;
}

.details{
   margin: 20px;
   font-size: 18px;
}

button{
   float: right;
   margin: 0 20px;
}