
.container{
   display: inline-block;
}

.search-results{
   width: 400px;
   display: flex;
   justify-content: center;
   margin: 10px;

}

.film-cards{
   // width: 340px;
   // height: 600px;

   img{
      margin: 0px auto;
      width: 300px;
      height: 497px;
   }
   p{
      width: 250px;
      text-align: center;
      margin: 5px auto;
   }

   button{
      margin: 10px auto;
      width: 100%;
   }

}
